Flask==2.0.2
gunicorn==20.1.0
httplib2==0.20.4
oauth2client==3.0.0
packaging==21.3
pandas==1.4.0
pipreqs==0.4.11
python-binance==1.0.15
regex==2022.1.18
requests
ujson==5.1.0
uritemplate==4.1.1
urllib3==1.26.8
websockets==9.1
